.formGroup {
  position: static;
}

.label {
  position: static;

  &.flexInitial {
    flex: initial !important;
  }
}

.control {
  position: static;
}

.description {
  position: static;
}

.errorMessage {
  position: static;
}

.grid {
  position: static;
}

.isDirty {
  position: static;
}

.isFocused {
  position: static;
}

.isTouched {
  position: static;
}